*{
    margin: 0;
    margin-top: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    width: 100%;
    height:100vh;
  
} 
.box h1 {
    background-color: rgba(0, 0, 0, 0.973);
    box-shadow: 8px 8px 40px gold;
    font-size: 40px;
    color: yellow;
    font-family: Castellar,Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
    z-index: 1;
    position: fixed;
}
.box{
    background: linear-gradient(rgba(0, 0, 0.9, 0.8)), url( 12.png);
    height: 5rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    color: rgb(255, 255, 255);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* background-color: #14f8da79; */
}
.chat-container{
    overflow: auto;
      background: linear-gradient(rgba(0, 0, 0.9, 0.8)), url( 12.png);
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px; 
}
.user-chat-box{
    width: 60%;
    position: relative;
     left: 40%;
}
.ai-chat-box{
    width: 60%;
    position: relative;
     
}
.ai-chat-area{
    border-radius: 0px 40px 40px 40px;
    width: 90%;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    position: relative;
    left: 10%;
    justify-content: space-between;
    row-gap: 10px;
    box-shadow: 2px 2px 10px black;
    font-size: 20px;
    transition: .5s;
}
.ai-chat-area:hover{
    box-shadow: 0 0 20px #14d6f8;
}
.user-chat-area{
    border-radius: 40px 0px 40px 40px;
    width: 90%;
    padding: 20px;
    font-size: 20px;
    gap: 6px;
    /* font-style:inherit; */
    background-color: rgb(9, 66, 255);
    color: rgb(0, 0, 0);
    box-shadow: 2px 2px 10px black;
    transition: .5s;
}
.user-chat-area:hover{
    box-shadow: 0 0 20px #14d6f8;
}
#user-img{
    position: absolute;
    right: 0;
    filter: drop-shadow(  4px 4px 10px rgb(0, 0, 0));
    top: -20px;
    border-radius: 50%;
    transition: .5s;
}
#user-img:hover{
    box-shadow: 0 0 20px #14d6f8;
}
#ai-img{
    position: absolute;
    left: 0;
    filter: drop-shadow(  4px 4px 10px black);
    top: -25px;
    border-radius: 50%;
    transition: .5s;
}
#ai-img:hover{
    box-shadow: 0 0 20px #14d6f8;
}
.prompt-area{
    z-index: 1;
    background:   linear-gradient(rgba(0, 0, 0.9, 0.8)), url( 12..png);
    position: absolute;
    bottom: .5px;
    left: -1px;
    width: 100% ;
    height: 13%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
#image img{
    width: 25px;
}
#submit img{
    width: 25px;
}
 .prompt-area input{
    width: 60%;
    height: 65px;
    background-color: black;
    outline: none;
    border: none;
    border-radius: 50px;
    color: rgb(255, 255, 255);
    padding: 20px;
    font-size: 23px;
    /* box-shadow: 0 0 10px #14d6f8; */
    transition: .5s;
 }
 .prompt-area input:hover{
    box-shadow: 0 0 10px #14d6f8;
 }
 .prompt-area button{
    width: 55px;
    height: 55px;
    border-radius:50%;
    background-color: black;
    outline: none;
    box-shadow: 2px 2px 10px black;
    cursor: pointer;
    transition: all 0.5s;
}
.prompt-area button:hover{
    background:#18f5be00;
    color: #547dca;
    box-shadow: 0 0 10px #14d6f8;
}
.load{ 
    background-color: #14d6f8;
    border-radius: 50%;
    filter: drop-shadow(  4px 4px 10px rgb(0, 0, 0));
}